@media (max-width: 1280px) {
    header {
        padding: 14px;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 10px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 90%;
        right: -100%;
        width: 270px;
        height: auto;
        background: var(--palette-color3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        z-index: 99;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        color: white;
    }

    .navbar a:hover {
        color: var(--palette-color1);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--palette-color1);
    }

    .navbar.open {
        right: 2%;
    }
}

@media screen and (min-width: 300px) and (max-width: 1200px) {
    html {
        /* font-size: 50.5%; */
        overflow-x: hidden;
        scroll-padding-top: 5.5rem;
        scroll-behavior: smooth;
    }

    .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    /* ============== Homepage ============== */
    /* Main Web */
    main {
        background: linear-gradient(90deg, #C2F396 0.2%, #E4CE7E 99.79%);
        padding: 20px;
        margin: 10px;
        border-radius: 15px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main img {
        display: none;
    }

    .greeting h2,
    .greeting h1,
    .greeting p {
        max-width: 100%;
    }

    .greeting h1 {
        font-size: 24px;
        margin: 10px 0;
    }

    .greeting p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .search form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        background-color: #f3f3f3;
        height: auto;
        border-radius: 30px;
    }

    .search input {
        width: 100%;
    }

    .search button {
        padding: 15px 20px;
        display: flex;
        height: max-content;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    /* Step Booking */
    .hero1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .hero1 .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .hero1 h1 {
        max-width: 90%;
        text-align: center;
        font-size: 22px;
        margin-top: 10px;
    }

    .hero-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero-title p {
        font-size: 16px;
        color: var(--palette-color2);
    }

    .hero-title img {
        width: 20px;
        height: 20px;
    }

    .head-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 20px;
    }

    .head-step i {
        font-size: 20px;
        margin-top: 10px;
        transform: rotate(90deg);
    }

    .head-step .step i {
        font-size: 24px;
        margin: 0;
        transform: rotate(0deg);
    }

    .head-step .step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .head-step .step p {
        text-align: center;
        font-size: 16px;
        width: 90%;
    }

    .head-step .step h1 {
        font-size: 16px;
        margin: 10px 0;
        width: fit-content;
        height: fit-content;
    }

    .head-step .circle {
        height: 50px;
        width: 50px;
    }

    .head-step .circle .mini-circle {
        height: 15px;
        width: 15px;
        font-size: 14px;
    }

    /* Dokter Pilihan */
    .doctor-hero {
        margin: 20px 10px 0 20px;
    }

    .doctor-hero .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .main-doctor-text {
        flex-direction: column;
        align-items: start;
    }

    .doctor-button {
        display: none;
    }

    .owl-item.active {
        display: flex;
        justify-content: start;
        align-items: start;
        width: fit-content;
    }

    .doctor-hero h1 {
        font-size: 20px;
        max-width: 90%;
        margin-top: 10px;
    }

    .card-doctor {
        padding: 15px;
        border-radius: 20px;
        margin-left: 10px;
    }

    .head-card {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        cursor: grab;
    }

    .card-doctor img {
        height: auto;
        width: 100%;
    }

    .card-doctor span {
        margin: 10px 0;
    }

    .card-doctor p {
        font-size: 16px;
        font-weight: 500;
    }

    /* Hero 1 */
    .hero-content1 {
        margin: 30px 20px 0 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 20px;
    }

    .hero-content1 .content1-hero .hero-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: right;
    }

    .image-hero1 {
        justify-content: center;
        width: 50%;
        margin: 0;
        gap: 0;
        padding: 0;
        gap: 10px;
    }

    .hero-content1-img2 {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: none;
        max-width: 300px;
    }

    .hero-content1-img {
        width: 100%;
        max-width: 300px;
    }

    .hero-content1 h1 {
        max-width: 100%;
        font-size: 22px;
        text-align: center;
    }

    .hero-content1 p {
        max-width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .hero-content1 .hero-title p {
        font-size: 16px;
    }

    /* Hero 2 */
    .hero-content2 {
        margin: 30px 20px 0 20px;
        display: flex;
    }

    .hero-content2 .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .hero-content2 h1 {
        font-size: 22px;
        max-width: 100%;
        text-align: center;
    }

    .content2-hero {
        flex-direction: column;
        gap: 20px;
    }

    .text-content h1 {
        font-size: 16px;
        text-align: center;
    }

    .text-content {
        display: flex;
        flex-direction: column;
    }

    .text-content a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-content p {
        max-width: 100%;
        font-size: 14px;
        margin: 20px 0 20px 0;
        text-align: center;
    }

    .text-content button {
        padding: 15px 20px;
        font-size: 14px;
    }

    .text-content .rate {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
    }

    .text-content .rate .count h1 {
        font-size: 36px;
    }

    .text-content .rate .count p {
        font-size: 14px;
        margin-top: 0;
    }

    .content2-hero .image-hero2 {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 10px;
        margin: 0 20px;
    }

    .content2-hero .image-hero2 img {
        width: 100%;
        border-radius: 15px;
    }

    .content2-hero .image-hero2 .hero-content3-img {
        width: 150px;
        height: 150px;
    }

    /* Fitur Home */
    .fitur {
        margin: 30px 20px 0 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .fitur .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .fitur .fitur-text h1 {
        font-size: 22px;
        max-width: 100%;
        margin-top: 10px;
    }

    .fitur .fitur-text p {
        font-size: 16px;
        max-width: 100%;
        margin-top: 15px;
    }

    .fitur button {
        padding: 15px 20px;
        font-size: 14px;
        margin-top: 15px;
    }

    .fitur .menu-fitur {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
    }

    .fitur .menu-fitur .card-fitur {
        width: 100%;
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }


    .fitur .menu-fitur .card-fitur h1 {
        font-size: 16px;
        font-weight: 600;
    }

    .fitur .menu-fitur .card-fitur img {
        width: 80%;
    }

    /* Kategori Artikel Home */
    .artikel-home {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .artikel-home .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .artikel-home h1 {
        font-size: 22px;
        max-width: 100%;
        text-align: center;
    }

    .artikel-home .wrapcard-artikel-home {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home {
        padding: 15px;
        background-color: #F3F3F3;
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home img {
        display: block;
        margin: 0 auto;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home h1 {
        margin-top: 15px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home p {
        max-width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home .selengkapnya p {
        margin: 0;
        max-width: 100%;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home .selengkapnya {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
        cursor: pointer;
    }

    /* Artikel Home */
    .artikel-home2 {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }

    .artikel-home2 h1 {
        font-size: 22px;
        max-width: 100%;
        text-align: start;
    }

    .artikel-home2-text .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .artikel-home2 .wrapcard-artikel-home2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .artikel-home2 .wrapcard-artikel-home2 .card-artikel-home2 {
        width: 100%;
        padding: 15px;
        border-radius: 20px;
    }

    .artikel-home2 .wrapcard-artikel-home2 .card-artikel-home2 img {
        width: 100%;
        border-radius: 20px;
    }

    .artikel-home2 .wrapcard-artikel-home2 .card-artikel-home2 span {
        margin-top: 10px;
        padding: 5px 10px;
        width: fit-content;
        border-radius: 5px;
    }

    .artikel-home2 .wrapcard-artikel-home2 .card-artikel-home2 p {
        max-width: 100%;
        margin-top: 10px;
    }

    .main-artikel-home2-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .button-artikel-home2 {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .button-artikel-home2 button {
        display: none;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        padding: 20px;
        background-color: var(--palette-color3);
        color: #C2C2C2;
    }

    footer .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    footer .logo i,
    footer .logo span {
        color: #C2C2C2;
    }

    footer .title-footer {
        font-weight: 700;
        margin-bottom: 10px;
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }


    /* ============== Blog ============== */
    .blog {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 0 20px;
    }

    .search-blog form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 90%;
        background-color: #f3f3f3;
        height: 56px;
        border-radius: 30px;
        margin: 0 0 0 10px;
    }

    .search-blog input {
        background: transparent;
        border: none;
        width: 100%;
        outline: none;
        color: var(--palette-color3);
    }

    .search-blog input::placeholder {
        color: var(--palette-color3);
    }

    .search-blog button {
        background-color: #27392D;
        padding: 15px 20px;
        border-radius: 30px;
        color: #f3f3f3;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-blog {
        width: 100%;
    }

    /* Top Blog */
    .top-blog {
        width: 100%;
    }

    .top-blog img {
        width: 100%;
        height: auto;
    }

    /* Item Blog */
    .item-blog {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main-blog h2 {
        margin-top: 20px;
        font-size: 22px;
    }

    .item-blog .card-item-blog {
        max-width: 100%;
    }

    .item-blog .card-item-blog img {
        width: 100%;
        height: auto;
    }

    /* Side Blog */
    .side-blog {
        width: 100%;
    }

    /* Categories */
    .categries {
        gap: 10px;
    }

    /* Tabs */
    .tab-container {
        margin-top: 20px;
    }

    .tab {
        flex: 1;
        padding: 10px;
    }

    /* Main Tab */
    .main-tab {
        flex-direction: row;
        gap: 10px;
    }

    .main-tab img {
        width: 100%;
    }

    .main-tab img {
        width: 100px;
        height: 100px;
    }

    /* Top Side Blog */
    .top-side-blog {
        max-width: 100%;
    }

    .top-side-blog img {
        width: 100%;
        height: auto;
    }

    /* ============== Detail Blog ============== */
    .detail-blog {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        justify-content: center;
        align-items: center;
    }

    .detail-blog img {
        border-radius: 30px;
        width: 100%;
        height: auto;
    }

    .text-detail-blog {
        margin-top: 20px;
        max-width: 100%;
    }

    .text-detail-blog span {
        margin-top: 20px;
        padding: 5px 10px;
        background-color: var(--palette-color1);
        width: fit-content;
        border-radius: 5px;
    }

    .text-detail-blog h1 {
        max-width: 100%;
        margin-top: 20px;
        font-size: 20px;
    }

    .text-detail-blog p {
        max-width: 100%;
        margin-top: 20px;
    }

    /* ============== Cek Kesehatan ============== */
    .cek-kesehatan {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
    }

    .cek-kesehatan .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .cek-kesehatan h1 {
        max-width: 100%;
        text-align: center;
        font-size: 22px;
    }

    .item-cek-kesehatan {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .card-cek-kesehatan {
        max-width: 100%;
        border-radius: 30px;
        align-items: center;
        text-align: center;
        background-color: #F3F3F3;
        padding: 20px;
    }

    .card-cek-kesehatan img {
        max-width: 50%;
        height: auto;
    }

    .card-cek-kesehatan h1 {
        font-size: 16px;
    }

    .card-cek-kesehatan p {
        margin-top: 10px;
        max-width: 100%;
    }

    /* ============== Booking Dokter ============== */
    .booking-dokter {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .booking-dokter h1 {
        max-width: 100%;
        text-align: center;
        font-size: 22px;
    }

    .booking-dokter .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-dokter {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .main-dokter h1 {
        font-size: 22px;
        width: fit-content;
    }

    .wrap-card-booking-dokter {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 20px;
    }

    .card-booking-dokter {
        max-width: 100%;
        border-radius: 30px;
        background-color: #F3F3F3;
        padding: 20px;
    }

    .card-booking-dokter img {
        max-width: 320px;
    }

    .card-booking-dokter span {
        margin-top: 20px;
        padding: 5px 10px;
        background-color: var(--palette-color1);
        width: fit-content;
        border-radius: 5px;
    }

    .card-booking-dokter h1 {
        font-size: 16px;
        margin-top: 10px;
    }

    .card-booking-dokter p {
        font-size: 16px;
        margin-top: 5px;
    }

    .card-booking-dokter .rating i {
        margin-top: 10px;
        color: #FF9A24;
    }

    /* ============== RS Terdekat ============== */
    .rs-terdekat {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }


    .rs-terdekat .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .rs-terdekat h1 {
        font-size: 22px;
        max-width: 100%;
        text-align: center;
    }

    .rs-terdekat button {
        padding: 15px 30px;
        border-radius: 30px;
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--palette-color3);
        color: #F3F3F3;
        margin-top: 10px;
    }

    .card-rs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-radius: 30px;
        background-color: #F3F3F3;
        width: 100% !important;
        margin-top: 20px;
    }

    .card-rs img {
        border-radius: 30px;
        max-width: 100%;
        height: auto;
    }

    .card-rs .text-rs h1 {
        font-size: 16px;
        text-align: start;
    }

    .card-rs .text-rs p {
        font-size: 16px;
        margin-top: 10px;
        max-width: 100%;
    }

    .visit {
        margin-top: 10
    }

    /* ============== Profile ============== */
    .data-profile {
        width: 90%;
    }

    .profile-picture img {
        width: 150px;
        height: 150px;
        position: relative;
    }

    .edit-profile .profile-picture a {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 !important;
        width: 20%;
        height: 30%;
        border-radius: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name {
        grid-template-columns: repeat(2, 1fr);
    }

    .name .first-name input,
    .name .last-name input {
        width: 100%;
    }

    .usia,
    .phone,
    .email {
        display: flex;
        flex-direction: column;
    }

    .edit-profile a {
        margin: 10px 0 30px 0 !important;
    }

    .tombol-profile {
        margin-bottom: 80px;
    }

    /* ============== Riwayat ============== */
    .riwayat {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
    }

    .riwayat h1 {
        font-size: 22px;
    }

    .riwayat .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-card-riwayat {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card-riwayat {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .main-card-riwayat .card-riwayat h1 {
        font-size: 16px;
        margin-top: 0;
    }

    .main-card-riwayat .card-riwayat p {
        font-size: 16px;
        margin: 5px 0;
    }

    .card-riwayat img {
        max-width: 100%;
    }

    .card-riwayat .dokter-profile,
    .card-riwayat .dokter-booked {
        width: 100%;
        margin: 0
    }

    /* ============== Booking Detail ============== */

    .item-tanggal .select-tanggal.selected {
        background-color: var(--palette-color3);
        color: #fff;
    }

    .booking-detail {
        margin: 0 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .tanggal {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background: #FFF;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 100%;
    }

    .tanggal .main-tanggal {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .tanggal h1 {
        font-size: 18px;
    }

    .item-tanggal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .item-tanggal .select-tanggal {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }

    .jam {
        padding: 10px;
        border-radius: 20px;
        width: 100%;
    }

    .jam h1 {
        font-size: 18px;
    }

    .item-jam {
        grid-template-columns: repeat(2, 1fr);
    }

    .data-pasien {
        padding: 10px;
        border-radius: 20px;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .data-pasien h1 {
        font-size: 18px;
    }

    .data-pasien input {
        margin-top: 10px;
    }

    /* ============== BMI ============== */

    .bmi {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .bmi .bmih1 {
        max-width: 600px;
        text-align: center;
        font-size: 22px;
    }

    .bmi .hero-title {
        display: flex;
        flex-direction: row;
    }

    .bmi .cek-bmi {
        width: 90%;
    }

    .bmi .cek-bmi h1 {
        font-size: 18px;
    }

    .bmi .cek-bmi .main-gender-bmi {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bmi .cek-bmi .main-gender-bmi .gender-bmi {
        display: flex;
        flex-direction: column;
    }

    .bmi .cek-bmi .main-gender-bmi .gender-bmi .pria,
    .bmi .cek-bmi .main-gender-bmi .gender-bmi .wanita {
        padding: 15px;
    }

    .bmi .cek-bmi .main-gender-bmi .gender-bmi .pria img,
    .bmi .cek-bmi .main-gender-bmi .gender-bmi .wanita img {
        width: 30px;
        height: 30px;
    }

    .cek-bmi .usia-bmi,
    .cek-bmi .tinggi-bmi,
    .cek-bmi .berat-badan-bmi {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cek-bmi .usia-bmi input,
    .cek-bmi .tinggi-bmi input,
    .cek-bmi .berat-badan-bmi input {
        padding: 15px;
        height: 50px;
    }

    .hasil-bmi {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .hasil-bmi .main-hasil-bmi {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        border-radius: 20px;
        padding: 20px;
    }

    .hasil-bmi .main-hasil-bmi .content-hasil-bmi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    .hasil-bmi .main-hasil-bmi .content-hasil-bmi h1 {
        font-size: 36px;
    }

    /* ============== ANTRIAN ============== */
    .antrian {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 90%;
        margin: 0 20px;
    }

    .antrian .kembali h1 {
        max-width: 600px;
        font-size: 26px;
        color: black;
    }

    .antrian .kembali {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 10px;
        width: 100%;
    }

    .antrian .main-card-antrian,
    .antrian .main-card-antrian .card-antrian {
        width: 100%;
    }

    .antrian .main-card-antrian .card-antrian {
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        justify-content: start;
        padding: 20px;
        border-radius: 30px;
    }

    .antrian .main-card-antrian .card-antrian img {
        max-width: 100%;
    }

    .antrian .main-card-antrian .card-antrian h1 {
        font-size: 18px;
        margin: 5px 0;
    }

    .antrian .main-card-antrian .card-antrian p {
        margin: 5px 0;
    }

    .antrian .main-card-antrian .card-antrian span {
        background-color: var(--palette-color1);
        padding: 5px;
        border-radius: 10px;
        margin: 20px 0 10px;
    }

    .card-antrian .antrian-profile {
        margin-right: 30px;
    }

    .antrian .main-card-antrian button {
        background-color: var(--palette-color3);
        padding: 15px 30px;
        border-radius: 30px;
        color: #F3F3F3;
        width: fit-content;
    }

    /* ============== HASIL STRESS&CEMAS ============== */

    .hasil-stress {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100vh;
    }

    .hasil-stress img {
        max-width: 90%;
        height: auto;
    }

    .hasil-stress p {
        max-width: 90%;
        text-align: center;
    }

    /* ============== CEK STRESS&CEMAS ============== */
    .stress {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .stepper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    .stepper h1 {
        font-size: 18px ;
        max-width: 800px;
    }

    .stepcek {
        display: none;
        text-align: center;
        margin-bottom: 0;
    }


    .stepcek:first-child {
        display: block;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-top: 20px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1279px) {
    .rs-terdekat {
        margin: 0 20px;
    }

    .card-rs {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 20px;
        border-radius: 30px;
        background-color: #F3F3F3;
        width: 100%;
        margin-top: 20px;
    }

    .wrap-card-booking-dokter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 20px;
    }

    /* ============== BMI ============== */
    .bmi {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .bmi .bmih1 {
        max-width: 600px;
        text-align: center;
    }

    .bmi .hero-title {
        display: flex;
        flex-direction: row;
    }

    .bmi .cek-bmi {
        width: 90%;
    }

    .bmi .cek-bmi h1 {
        font-size: 18px;
    }

    .bmi .cek-bmi .main-gender-bmi {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bmi .cek-bmi .main-gender-bmi .gender-bmi {
        display: flex;
        flex-direction: row;
    }

    /* ============== Riwayat ============== */
    .riwayat {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .riwayat h1 {
        font-size: 22px;
        text-align: center;
    }

    .riwayat .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-card-riwayat {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card-riwayat {
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }

    .main-card-riwayat .card-riwayat h1 {
        font-size: 16px;
        margin-top: 0;
    }

    .main-card-riwayat .card-riwayat p {
        font-size: 16px;
        margin: 5px 0;
    }

    .card-riwayat img {
        max-width: 100%;
    }

    .card-riwayat .dokter-profile,
    .card-riwayat .dokter-booked {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .card-riwayat .dokter-profile span,
    .card-riwayat .dokter-booked span {
        margin: 0 0 0 0;
    }

    /* ============== ANTRIAN ============== */
    .antrian {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .antrian .kembali h1 {
        max-width: 600px;
        font-size: 26px;
        color: black;
    }

    .antrian .kembali {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 10px;
        width: 100%;
    }

    .antrian .main-card-antrian,
    .antrian .main-card-antrian .card-antrian {
        width: 100%;
    }

    .antrian .main-card-antrian .card-antrian {
        background-color: #F3F3F3;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 30px;
    }

    .antrian .main-card-antrian .card-antrian img {
        max-width: 100%;
    }

    .antrian .main-card-antrian .card-antrian h1 {
        font-size: 18px;
        margin: 10px 0;
    }

    .antrian .main-card-antrian .card-antrian p {
        margin: 10px 0;
    }

    .antrian .main-card-antrian .card-antrian span {
        background-color: var(--palette-color1);
        padding: 5px;
        border-radius: 10px;
        margin: 20px 0 10px;
    }

    .card-antrian .antrian-profile {
        margin-right: 30px;
    }

    .antrian .main-card-antrian button {
        background-color: var(--palette-color3);
        padding: 15px 30px;
        border-radius: 30px;
        color: #F3F3F3;
        width: fit-content;
    }

    /* ============== CEK STRESS&CEMAS ============== */
    .stress {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .stepper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        
    }

    .stepper h1 {
        font-size: 24px;
        max-width: 800px;
    }

    .stepcek {
        display: none;
        text-align: center;
        margin-bottom: 100px;
    }

    .stepcek:first-child {
        display: block;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-top: 100px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1512px) {
    main {
        padding: 0 50px;
        margin: 0 30px;
        border-radius: 30px;
        gap: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    main img {
        width: 500px;
        height: 400px;
        margin: 50px 0;
    }

    /* Dokter Pilihan */
    .doctor-hero {
        margin: 50px 50px 0 50px;
    }

    /* Hero 1 */
    .hero-content1 {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .image-hero1 {
        display: flex;
        position: relative;
        width: 400px;
    }

    .hero-content1-img {
        width: 300px;
        background-color: #D9F3EA;
        padding: 20px;
        border-radius: 30px;
    }

    .hero-content1-img2 {
        width: 300px;
        margin: 50px 0 0 50px;
    }

    /* Hero 2 */
    .hero-content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }

    .content2-hero {
        gap: 50px;
    }

    .content2-hero .image-hero2 img {
        width: 200px !important;
        height: 200px !important;
    }

    /* ============== Blog ============== */
    .blog {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 50px 0 50px;
        gap: 30px;
    }

    .search-blog {
        margin-left: 50px;
    }

    /* Top Blog */
    .top-blog {
        padding: 20px;
        width: fit-content;
    }

    .top-blog img {
        border-radius: 30px;
        width: fit-content;
    }

    .top-blog h1 {
        margin-top: 20px;
        font-size: 22px;
        max-width: 800px;
    }

    /* Item Blog */
    .item-blog {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    /* ============== Detail Blog ============== */
    .detail-blog {
        display: flex;
        flex-direction: column;
        margin: 0 50px;
        justify-content: center;
        align-items: center;
    }

    .detail-blog img {
        border-radius: 30px;
        max-width: 100%;
        height: auto;
    }

    .text-detail-blog {
        margin-top: 20px;
        max-width: 100%;
    }

    /* ============== Cek Kesehatan ============== */
    .cek-kesehatan {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cek-kesehatan h1 {
        max-width: 600px;
        text-align: center;
        font-size: 26px;
    }

    .item-cek-kesehatan {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 20px;
    }

    .card-cek-kesehatan {
        max-width: 350px;
        max-height: 350;
    }

    .card-cek-kesehatan h1 {
        font-size: 18px;
    }

    .card-cek-kesehatan p {
        margin-top: 10px;
    }

    /* ============== Booking Dokter ============== */

    .booking-dokter {
        margin: 0 50px;
    }

    .main-dokter {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }


    .wrap-card-booking-dokter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* ============== RS Terdekat ============== */
    .rs-terdekat {
        margin-left: 50px;
    }

    /* ============== Riwayat ============== */
    .riwayat {
        margin-left: 50px;
        margin-right: 50px;
    }

    .riwayat h1 {
        max-width: 600px;
        font-size: 26px;
        margin-bottom: 20px;
    }

    .main-card-riwayat {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        margin-top: 20px;
    }

    .card-riwayat {
        background-color: #F3F3F3;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: start;
        width: 100%;
        padding: 20px;
        border-radius: 30px;
    }

    .card-riwayat img {
        max-width: 200px;
        width: auto;
    }

    .card-riwayat h1 {
        font-size: 18px;
        margin: 10px 0 10px 0;
    }

    .card-riwayat p {
        margin: 10px 0 10px 0;
    }

    .card-riwayat span {
        background-color: var(--palette-color1);
        width: fit-content;
        padding: 5px;
        border-radius: 10px;
        margin: 20px 0 10px 0;
    }

    .card-riwayat .dokter-profile {
        margin-right: 30px;
    }

    .card-riwayat .dokter-profile .rating {
        margin-top: 10px;
        color: #FF9A24;
    }
}