@media (max-width: 1280px) {
    header {
        padding: 14px;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 10px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 12%;
        right: -100%;
        width: 270px;
        height: 35vh;
        background: var(--palette-color3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        z-index: 99;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        color: white;
    }

    .navbar a:hover {
        color: var(--palette-color1);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--palette-color1);
    }

    .navbar.open {
        right: 2%;
    }
}

@media screen and (min-width: 300px) and (max-width: 899px) {
    html {
        /* font-size: 50.5%; */
        overflow-x: hidden;
        scroll-padding-top: 5.5rem;
        scroll-behavior: smooth;
    }

    .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    /* ============== Homepage ============== */
    /* Main Web */
    main {
        background: linear-gradient(90deg, #C2F396 0.2%, #E4CE7E 99.79%);
        padding: 20px; /* Adjust padding for smaller screens */
        margin: 10px;
        border-radius: 15px; /* Reduce border-radius for smaller screens */
        gap: 20px; /* Reduce gap for smaller screens */
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        justify-content: center;
        align-items: center;
    }

    main img{
        display: none;
    }

    .greeting h2,
    .greeting h1,
    .greeting p {
        max-width: 100%; /* Ensure text does not overflow on smaller screens */
    }

    .greeting h1 {
        font-size: 24px; /* Decrease font size for smaller screens */
        margin: 10px 0;
    }

    .greeting p {
        font-size: 16px; /* Decrease font size for smaller screens */
        margin-bottom: 10px;
    }

    .search {
        display: flex;
        flex-direction: row; /* Change to a column layout for smaller screens */
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%; /* Make the search bar full width on smaller screens */
        background-color: #f3f3f3;
        height: auto; /* Adjust height for smaller screens */
        border-radius: 30px; /* Reduce border-radius for smaller screens */
    }

    .search input {
        width: 100%; /* Make the input field full width on smaller screens */
    }

    .search button {
        padding: 10px 20px; /* Decrease padding for smaller screens */
        display: flex;
        height: max-content;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    /* Step Booking */
    .hero1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px; /* Adjust margin for smaller screens */
    }

    .hero1 .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .hero1 h1 {
        max-width: 90%; /* Make text width 100% for smaller screens */
        text-align: center;
        font-size: 22px; /* Decrease font size for smaller screens */
        margin-top: 10px;
    }

    .hero-title {
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        align-items: center;
        gap: 10px;
    }

    .hero-title p {
        font-size: 16px; /* Decrease font size for smaller screens */
        color: var(--palette-color2);
    }

    .hero-title img {
        width: 20px; /* Decrease image size for smaller screens */
        height: 20px;
    }

    .head-step {
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        align-items: center;
        width: 100%; /* Make width 100% for smaller screens */
        gap: 10px;
        margin-top: 20px;
    }

    .head-step i {
        font-size: 20px; /* Decrease font size for smaller screens */
        margin-top: 10px;
        transform: rotate(90deg); /* Rotate by 90 degrees */
    }

    .head-step .step i {
        font-size: 24px; /* Decrease font size for smaller screens */
        margin: 0;
        transform: rotate(0deg);
    }

    .head-step .step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .head-step .step p {
        text-align: center;
        font-size: 16px; /* Decrease font size for smaller screens */
        width: 90%;
    }

    .head-step .step h1 {
        font-size: 16px; /* Decrease font size for smaller screens */
        margin: 10px 0;
        width: fit-content;
        height: fit-content;
    }

    .head-step .circle {
        height: 50px; /* Decrease height for smaller screens */
        width: 50px; /* Decrease width for smaller screens */
    }

    .head-step .circle .mini-circle {
        height: 15px; /* Decrease height for smaller screens */
        width: 15px; /* Decrease width for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    /* Dokter Pilihan */
    .doctor-hero {
        margin: 20px 10px 0 20px; /* Adjust margin for smaller screens */
    }

    .doctor-hero .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .main-doctor-text {
        flex-direction: column; /* Change to a column layout for smaller screens */
        align-items: start;
    }

    .doctor-button {
        display: none;
    }

    .owl-item.active{
        display: flex;
        justify-content: start;
        align-items: start;
        width: fit-content;
    }

    .doctor-hero h1 {
        font-size: 20px; /* Decrease font size for smaller screens */
        max-width: 90%; /* Make text width 100% for smaller screens */
        margin-top: 10px;
    }

    .card-doctor {
        padding: 15px; /* Decrease padding for smaller screens */
        border-radius: 20px; /* Reduce border-radius for smaller screens */
        margin-left: 10px;
    }

    .head-card {
        flex-direction: column; /* Change to a column layout for smaller screens */
        gap: 10px;
        margin-top: 10px;
        cursor: grab;
    }

    .card-doctor img {
        height: auto; /* Make image responsive */
        width: 100%; /* Make image width 100% for smaller screens */
    }

    .card-doctor span {
        margin: 10px 0; /* Adjust margin for smaller screens */
    }

    .card-doctor p {
        font-size: 16px; /* Decrease font size for smaller screens */
        font-weight: 500; /* Adjust font weight for smaller screens */
    }

    /* Hero 1 */
    .hero-content1 {
        margin: 30px 20px 0 20px;
        display: flex;
        flex-direction: column-reverse; /* Change to a column layout for smaller screens */
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .hero-content1 .content1-hero .hero-title {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Align to the right */
        align-items: center;
        gap: 10px;
        text-align: right;
    }    

    .image-hero1 {
        justify-content: center;
        width: 50%; /* Make the image responsive */
        margin: 0;
        gap: 0;
        padding: 0;
        gap: 10px;
    }
    .hero-content1-img2 {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
    .hero-content1-img {
        width: 100%;
    }

    .hero-content1 h1 {
        max-width: 100%; /* Make text width 100% for smaller screens */
        font-size: 22px; /* Decrease font size for smaller screens */
        text-align: center;
    }

    .hero-content1 p {
        max-width: 100%; /* Make text width 100% for smaller screens */
        font-size: 16px; /* Decrease font size for smaller screens */
        text-align: center;
    }

    .hero-content1 .hero-title p {
        font-size: 16px; /* Decrease font size for smaller screens */
    }

    /* Hero 2 */
    .hero-content2 {
        margin: 30px 20px 0 20px; /* Adjust margin for smaller screens */
        display: flex;
    }

    .hero-content2 .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .hero-content2 h1 {
        font-size: 22px; /* Decrease font size for smaller screens */
        max-width: 100%; /* Make text width 100% for smaller screens */
        text-align: center;
    }

    .content2-hero {
        flex-direction: column; /* Change to a column layout for smaller screens */
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .text-content h1 {
        font-size: 16px; /* Decrease font size for smaller screens */
        text-align: center; /* Center align for smaller screens */
    }

    .text-content {
        display: flex;
        flex-direction: column;
    }

    .text-content p {
        max-width: 100%; /* Make text width 100% for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
        margin: 20px 0 20px 0;
        text-align: center;
    }

    .text-content button {
        padding: 15px 20px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    .text-content .rate {
        flex-direction: row; /* Change to a column layout for smaller screens */
        gap: 20px; /* Adjust gap for smaller screens */
        justify-content: center;
        margin-top: 20px;
    }

    .text-content .rate .count h1 {
        font-size: 36px; /* Decrease font size for smaller screens */
    }

    .text-content .rate .count p {
        font-size: 14px; /* Decrease font size for smaller screens */
        margin-top: 0;
    }

    .content2-hero .image-hero2 {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center; /* Center the items horizontally */
        gap: 10px;
        margin: 0 20px;
    }
    
    .content2-hero .image-hero2 img {
        width: 100%; /* Make the image responsive */
        border-radius: 15px; /* Adjust border-radius for smaller screens */
    }

    .content2-hero .image-hero2 .hero-content3-img{
        width: 150px;
        height: 150px;
    }
    
    /* Fitur Home */
    .fitur {
        margin: 30px 20px 0 20px;
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        gap: 20px; /* Adjust gap for smaller screens */
        justify-content: center;
        align-items: center;
    }

    .fitur .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .fitur .fitur-text h1 {
        font-size: 22px; /* Decrease font size for smaller screens */
        max-width: 100%; /* Make text width 100% for smaller screens */
        margin-top: 10px;
    }

    .fitur .fitur-text p {
        font-size: 16px; /* Decrease font size for smaller screens */
        max-width: 100%; /* Make text width 100% for smaller screens */
        margin-top: 15px; /* Adjust margin for smaller screens */
    }

    .fitur button {
        padding: 15px 20px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
        margin-top: 15px; /* Adjust margin for smaller screens */
    }

    .fitur .menu-fitur {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center; /* Center horizontally */
    }
    
    .fitur .menu-fitur .card-fitur {
        width: 100%;
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }
    

    .fitur .menu-fitur .card-fitur h1 {
        font-size: 16px; /* Decrease font size for smaller screens */
        font-weight: 600;
    }
    .fitur .menu-fitur .card-fitur img{
        width: 80%;
    }

    /* Kategori Artikel Home */
    .artikel-home {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .artikel-home .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .artikel-home h1 {
        font-size: 22px;
        max-width: 100%;
        text-align: center;
    }

    .artikel-home .wrapcard-artikel-home {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home {
        padding: 15px;
        background-color: #F3F3F3;
        border-radius: 20px;
        text-align: center; /* Center align for the entire card */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home img {
        display: block;
        margin: 0 auto; /* Center the image horizontally */
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home h1 {
        margin-top: 15px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home p {
        max-width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home .selengkapnya p {
        margin: 0;
        max-width: 100%;
    }

    .artikel-home .wrapcard-artikel-home .card-artikel-home .selengkapnya {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
        cursor: pointer;
    }

    /* Artikel Home */
    .artikel-home2 {
        display: flex;
        flex-direction: column;
        margin-left: 20px; /* Adjust margin for smaller screens */
        margin-right: 20px; /* Adjust margin for smaller screens */
        margin-top: 30px; /* Adjust margin for smaller screens */
    }

    .artikel-home2 h1 {
        font-size: 22px; /* Decrease font size for smaller screens */
        max-width: 100%; /* Make text width 100% for smaller screens */
        text-align: start;
    }
    .artikel-home2-text .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .artikel-home2 .wrapcard-artikel-home2 {
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        gap: 20px;
        margin-top: 20px;
    }

    .artikel-home2 .wrapcard-artikel-home2 .card-artikel-home2 {
        width: 100%; /* Make width 100% for smaller screens */
        padding: 15px; /* Decrease padding for smaller screens */
        border-radius: 20px;
    }

    .artikel-home2 .wrapcard-artikel-home2 .card-artikel-home2 img {
        width: 100%; /* Make the image responsive */
        border-radius: 20px;
    }

    .artikel-home2 .wrapcard-artikel-home2 .card-artikel-home2 span {
        margin-top: 10px;
        padding: 5px 10px;
        width: fit-content;
        border-radius: 5px;
    }

    .artikel-home2 .wrapcard-artikel-home2 .card-artikel-home2 p {
        max-width: 100%; /* Make text width 100% for smaller screens */
        margin-top: 10px;
    }

    .main-artikel-home2-text {
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        align-items: start;
        justify-content: center;
    }

    .button-artikel-home2 {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .button-artikel-home2 button {
        display: none;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        align-items: center;
        gap: 30px; /* Adjust gap for smaller screens */
        margin-top: 30px; /* Adjust margin for smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
        background-color: var(--palette-color3);
        color: #C2C2C2;
    }

    footer .logo {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align for smaller screens */
        gap: 20px;
        text-align: center;
    }

    footer .logo i,
    footer .logo span {
        color: #C2C2C2;
    }

    footer .title-footer {
        font-weight: 700;
        margin-bottom: 10px;
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center; /* Center align for smaller screens */
    }


    /* ============== Blog ============== */
    .blog {
        display: flex;
        flex-direction: column; /* Change to column layout for smaller screens */
        margin: 20px 20px 0 20px; /* Adjust margin for smaller screens */
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .search-blog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding-left: 20px; */
        gap: 10px;
        width: max-content;
        background-color: #f3f3f3;
        height: 70px;
        border-radius: 30px;
        margin: 0 10px 0 10px;
    }
    
    .search-blog input {
        background: transparent;
        border: none;
        width: 100%;
        outline: none;
        color: var(--palette-color3);
    }
    
    .search-blog input::placeholder {
        color: var(--palette-color3);
    }
    
    .search-blog button {
        background-color: #27392D;
        padding: 20px 30px;
        border-radius: 30px;
        color: #f3f3f3;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Top Blog */
    .top-blog {
        max-width: 100%; /* Make the top blog take full width on smaller screens */
    }

    .top-blog img {
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    /* Item Blog */
    .item-blog {
        display: flex;
        flex-direction: column; /* Change to column layout for smaller screens */
        gap: 20px;
    }

    .main-blog h2 {
        margin-top: 20px;
        font-size: 22px;
    }

    .item-blog .card-item-blog {
        max-width: 100%; /* Make the card take full width on smaller screens */
    }

    .item-blog .card-item-blog img {
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    /* Side Blog */
    .side-blog {
        width: 100%; /* Make the side blog take full width on smaller screens */
    }

    /* Categories */
    .categries {
        gap: 10px; /* Adjust gap for smaller screens */
    }

    /* Tabs */
    .tab-container {
        margin-top: 20px; /* Adjust margin for smaller screens */
    }

    .tab {
        flex: 1;
        padding: 10px;
    }

    /* Main Tab */
    .main-tab {
        flex-direction: column; /* Change to column layout for smaller screens */
        gap: 10px;
    }
    .main-tab img{
        width: 100%;
    }

    .main-tab img {
        width: 100px;
        height: 100px;
    }

    /* Top Side Blog */
    .top-side-blog {
        max-width: 100%; /* Make the top side blog take full width on smaller screens */
    }

    .top-side-blog img {
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    /* ============== Detail Blog ============== */
    .detail-blog {
        display: flex;
        flex-direction: column;
        margin: 0 20px; /* Adjust margin for smaller screens */
        justify-content: center;
        align-items: center;
    }

    .detail-blog img {
        border-radius: 30px;
        max-width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .text-detail-blog {
        margin-top: 20px;
        max-width: 100%; /* Make the text container responsive */
    }

    .text-detail-blog span {
        margin-top: 20px;
        padding: 5px 10px;
        background-color: var(--palette-color1);
        width: fit-content;
        border-radius: 5px;
    }

    .text-detail-blog h1 {
        max-width: 100%; /* Make the heading responsive */
        margin-top: 20px;
        font-size: 20px;
    }

    .text-detail-blog p {
        max-width: 100%; /* Make the paragraph responsive */
        margin-top: 20px;
    }

    /* ============== Cek Kesehatan ============== */
    .cek-kesehatan {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 20px; /* Adjust margin for smaller screens */
    }

    .cek-kesehatan .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .cek-kesehatan h1 {
        max-width: 100%; /* Make the heading responsive */
        text-align: center;
        font-size: 22px;
    }

    .item-cek-kesehatan {
        display: flex;
        flex-direction: column; /* Change to column layout for smaller screens */
        gap: 20px;
        margin-top: 20px;
    }

    .card-cek-kesehatan {
        max-width: 100%; /* Make the card take full width on smaller screens */
        border-radius: 30px;
        align-items: center;
        text-align: center;
        background-color: #F3F3F3;
        padding: 20px; /* Decrease padding for smaller screens */
    }

    .card-cek-kesehatan img {
        max-width: 50%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .card-cek-kesehatan h1 {
        font-size: 16px;
    }

    .card-cek-kesehatan p {
        margin-top: 10px;
        max-width: 100%; /* Make the paragraph responsive */
    }

    /* ============== Booking Dokter ============== */
    .booking-dokter {
        margin: 0 20px; /* Adjust margin for smaller screens */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .booking-dokter h1 {
        max-width: 100%; /* Make the heading responsive */
        text-align: center;
        font-size: 22px;
    }

    .booking-dokter .hero-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-dokter {
        display: flex;
        flex-direction: column;
        margin-top: 20px; /* Adjust margin for smaller screens */
    }

    .main-dokter h1 {
        font-size: 22px;
        width: fit-content;
    }

    .wrap-card-booking-dokter {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Change to a single column for smaller screens */
        gap: 20px;
        margin-top: 20px;
    }

    .card-booking-dokter {
        max-width: 100%; /* Make the card take full width on smaller screens */
        border-radius: 30px;
        background-color: #F3F3F3;
        padding: 20px;
    }

    .card-booking-dokter img{
        max-width: 320px;
    }

    .card-booking-dokter span {
        margin-top: 20px;
        padding: 5px 10px;
        background-color: var(--palette-color1);
        width: fit-content;
        border-radius: 5px;
    }

    .card-booking-dokter h1 {
        font-size: 16px;
        margin-top: 10px;
    }

    .card-booking-dokter p {
        font-size: 16px;
        margin-top: 5px;
    }

    .card-booking-dokter .rating i{
        margin-top: 10px;
        color: #FF9A24;
    }

    /* ============== RS Terdekat ============== */
    .rs-terdekat {
        display: flex;
        flex-direction: column;
        margin: 0 20px; /* Adjust margin for smaller screens */
    }

    
    .rs-terdekat .hero-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .rs-terdekat h1 {
        font-size: 22px;
        max-width: 100%; /* Make the heading responsive */
        text-align: center;
    }

    .rs-terdekat button {
        padding: 15px 30px;
        border-radius: 30px;
        width: 100%; /* Make the button take full width on smaller screens */
        border: none;
        outline: none;
        background-color: var(--palette-color3);
        color: #F3F3F3;
        margin-top: 10px;
    }

    .card-rs {
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-radius: 30px;
        background-color: #F3F3F3;
        width: 100%; /* Make the card take full width on smaller screens */
        margin-top: 20px;
    }

    .card-rs img {
        border-radius: 30px;
        max-width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .card-rs .text-rs h1 {
        font-size: 16px;
        text-align: start;
    }

    .card-rs .text-rs p {
        font-size: 16px;
        margin-top: 10px;
        max-width: 100%; /* Make the paragraph responsive */
    }

    .visit {
        margin-top: 10
    }

    /* ============== Profile ============== */
    .data-profile {
        width: 80%; /* Adjust width for smaller screens */
    }

    .profile-picture img {
        width: 150px; /* Adjust profile picture size for smaller screens */
        height: 150px;
        position: relative;
    }
    .edit-profile .profile-picture a{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 !important;
        width: 20%;
        height: 30%;
        border-radius: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name {
        grid-template-columns: repeat(2, 1fr); /* Change to a single column for smaller screens */
    }

    .name .first-name input,
    .name .last-name input {
        width: 100%; /* Adjust width for smaller screens, accounting for padding */
    }

    .usia,
    .phone,
    .email {
        display: flex;
        flex-direction: column;
    }

    .edit-profile a {
        margin: 10px 0 30px 0 !important; /* Adjust margin for smaller screens */
    }

    /* ============== Riwayat ============== */
    .riwayat {
        margin-left: 20px;
        margin-right: 20px;
    }

    .riwayat h1 {
        font-size: 22px;
    }

    .riwayat .hero-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-card-riwayat {
        grid-template-columns: 1fr;
        gap: 10px; 
    }

    .card-riwayat {
        flex-direction: column;
        width: 100%; /* Stack cards vertically on smaller screens */
        gap: 10px;
    }

    .main-card-riwayat .card-riwayat h1{
        font-size: 16px;
        margin-top: 0;
    }
    .main-card-riwayat .card-riwayat p{
        font-size: 16px;
        margin: 5px 0;
    }

    .card-riwayat img {
        max-width: 100%;
    }

    .card-riwayat .dokter-profile,
    .card-riwayat .dokter-booked{
        width: 100%;
        margin: 0
    }


}


@media screen and (min-width: 768px) and (max-width: 1280px) {
    .rs-terdekat{
        margin: 0 20px;
    }
    .card-rs {
        display: flex;
        flex-direction: column; /* Change to a column layout for smaller screens */
        align-items: start;
        gap: 20px;
        padding: 20px;
        border-radius: 30px;
        background-color: #F3F3F3;
        width: 100%; /* Make the card take full width on smaller screens */
        margin-top: 20px;
    }

    .wrap-card-booking-dokter {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Change to a single column for smaller screens */
        gap: 20px;
        margin-top: 20px;
    }

    /* ============== Riwayat ============== */
    .riwayat {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .riwayat h1 {
        font-size: 22px;
        text-align: center;
    }

    .riwayat .hero-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-card-riwayat {
        grid-template-columns: 1fr;
        gap: 10px; 
    }

    .card-riwayat {
        flex-direction: row;
        width: 100%; /* Stack cards vertically on smaller screens */
        gap: 20px;
    }

    .main-card-riwayat .card-riwayat h1{
        font-size: 16px;
        margin-top: 0;
    }
    .main-card-riwayat .card-riwayat p{
        font-size: 16px;
        margin: 5px 0;
    }

    .card-riwayat img {
        max-width: 100%;
    }

    .card-riwayat .dokter-profile,
    .card-riwayat .dokter-booked{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .card-riwayat .dokter-profile span,
    .card-riwayat .dokter-booked span{
        margin: 0 0 0 0;
    }
}